.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }}
.logo-image {
  width: 500px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
}



