<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Finals</display-name>
 
<welcome-file-list>
  <welcome-file>Index.html</welcome-file>
  <welcome-file>Index.jsp</welcome-file>
  <welcome-file>Index.htm</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.jsp</welcome-file>
  <welcome-file>default.htm</welcome-file>
</welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testing</display-name>
    <servlet-name>testing</servlet-name>
    <servlet-class>Servlet.testing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testing</servlet-name>
    <url-pattern>/testing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>Servlet.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>Servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>Servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/quantity-inc-dec-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>Servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>Servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/order-now-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>Servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/check-out-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>Servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/cancel-order-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortByCagetoryServlet</display-name>
    <servlet-name>SortByCagetoryServlet</servlet-name>
    <servlet-class>Servlet.SortByCagetoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortByCagetoryServlet</servlet-name>
    <url-pattern>/sort-by-cagetory-servlet</url-pattern>
  </servlet-mapping>
</web-app>